<div class="property-show property-details">

  {{partial 'property/hero-header'}}

  <div class="property-description">
    {{model.description}}

    <div class="property-desc">
      {{#each field in model.fields}}
        <div class="property-detail">
          <span class="left"> {{field.name}} </span>
          <span class="right"> {{field.value}} </span>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="property-map-container">
    <div class="property-map">
      MAP GOES HERE
      <div class="property-address">
        {{model.address}}
      </div>
    </div>
  </div>

</div>