
  <div class="property-profile" style={{model.style}}>

    
    <img {{action "back" target="controllers.application"}} src="img/back-icon.png" class="back-icon">
    

    <div class="property-hero-title">
      <span>
        {{#link-to 'property.show' model.id classNames="name"}}{{model.address}}{{/link-to}}
      </span>

        <div class="property-subheading">
           <span>Toronto, On</span>
           <span> M2L 2G8</span>
        </div>
    </div>

   

  </div>

  {{partial 'property/hero-header'}}

  <div class="down-icon-cont">
  {{#link-to 'property.details' model.id}}
    <img src="img/down-icon.png">
  {{/link-to}}
  </div>

  <div class="property-show">

    <div class="property-apps">

      {{#each highlight in model.highlights}}
        {{partial 'highlight/inline'}}
      {{/each}}

        <div class="app-card">
        <img src="img/comment-icon.png" class="app-icon">
          Comment
      </div>
      
    </div>

  </div>