{{view 'page-title'}}
{{partial 'partials/flash'}}


  <div class="settings">

  {{file-picker model=model}}

  <!--Name-->
    <div class="setting">
      <div class="setting-title">     Name 
      </div>
    
        {{input value=model.name placeholder="What's the name?"}}

        <div class="form-validator">
        {{#if errors.name}}
          name {{errors.name}}
        {{/if}}
        </div>
    </div>

  <!-- Sub Heading-->
    <div class="setting">
      <div class="setting-title">     Sub Heading 
      </div>
    
        {{input value=model.sub_heading placeholder="What's the subheading?"}}

        <div class="form-validator">
        {{#if errors.sub_heading}}
          Postal code {{errors.sub_heading}}
        {{/if}}
        </div>
    </div>
  
  
  {{#each option in model.options}}
    {{partial 'properties/property/highlights/highlight/options/option/inline'}}
  {{/each}}

  <div class="preamble">
    <div class="title small">
      Add new option image to be displayed
      <span class="sub-text"> e.g. Granite top </span>
    </div>
    <div class="new-att-icon">
      <a {{action "newOption"}}> <img src="img/new-att-icon.png"></a>
    </div>
  </div>

  <div class="setting custom">
    <div class="setting-key">
      {{input value=newOptionName placeholder="e.g. \"Granite top\""}}
  </div>


    <div class="save-container">
      <button class="button" {{action "save"}}> Save </button>
    </div>
  </div>
</div>
