<!--{{view 'page-title'}} -->

<div class="websitelogo">
  <img src="img/websitelogo.png">
</div>

<div class="register-settings">
    <div class="register-setting">
      {{input
        value=controller.email
        placeholder="Email"}}

    <div class="form-validator">
      {{#if errors.email}}
        email {{errors.email}}
      {{/if}}
    </div>
  </div>

  <div class="register-setting">
      {{input type="password"
        value=controller.password
        placeholder="Password"}}

    <div class="form-validator">
      {{#if errors.password}}
        password {{errors.password}}
      {{/if}}
    </div>
  </div>

  <div class="register-setting">
      {{input  type="password"
        value=controller.passwordConfirmation
        placeholder="Password Confirmation"}}

    <div class="form-validator">
      {{#if errors.passwordConfirmation}}
        password confirmation {{errors.passwordConfirmation}}
      {{/if}}
    </div>
  </div>

  <div class="save-container">
    <button class="button"
      {{action "save"}}
      {{bind-attr disabled="isInvalid"}} >
      SIGN ME UP!
    </button>
  </div>
</div>