{{view 'page-title'}}

<div class="settings">
  <div class="setting">
    <div class="title"> First Name </div>
    <div class="setting-value">
      {{input value=model.first_name placeholder="what's your first name?"}}
    </div>
  </div>

  <div class="setting">
    <div class="title"> Last Name </div>
    <div class="setting-value">
      {{input value=model.last_name placeholder="what's your last name?"}}
    </div>
  </div>

  <div class="setting">
    <div class="title"> Email </div>
    <div class="setting-value">
      {{input value=model.email placeholder="what's your email address?"}}
    </div>
  </div>

  <div class="setting">
    <div class="title"> Brokerage </div>
    <div class="setting-value">
      {{input value=model.brokerage placeholder="ex. Homelife"}}
    </div>
  </div>

  <div class="setting">
    <div class="title"> Subsidiary Brokerage </div>
    <div class="setting-value">
      {{input value=model.subsidiary placeholder="ex. Victory"}}
    </div>
  </div>

  <div class="setting">
    <div class="title"> Phone Number </div>
    <div class="setting-value">
      {{input value=model.phone placeholder="What's your number?"}}
    </div>
  </div>

  
  <div class="mid-page-title">
  Change Password
  </div>

  <div class="setting">

    <div class="title"> Current Password </div>
    <div class="setting-value">
      {{input type="password" value=old_password}}
    </div>
  </div>

  <div class="setting">
    <div class="title"> New Password </div>
    <div class="setting-value">
      {{input type="password" value=password}}
    </div>
  </div>

  <div class="save-container">
    <button class="button" {{action "save"}}> Save </button>
  </div>
</div>