<h3> Property Edit </h3>

<h4> Name </h4>
{{input value=model.name}}

<h4> Address </h4>
{{input value=model.address}}

<h4> Description </h4>
{{input value=model.description}}

<h4> Lat </h4>
{{input value=model.lat}}

<h4> Long </h4>
{{input value=model.lng}}

{{#each f in model.fields}}
  <h4> {{f.name}}: </h4> 
  {{input value=f.value}}
{{/each}}

<h3> New Custom Field </h3>
<i> Note: New custom fields only work when editing an already created property.
  This is a suggested flow for Ember simplicity </i>
<h4> Field Name </h4>
{{input value=newFieldName}}

<h4> Field Value </h4>
{{input value=newFieldValue}}

<button {{action "newField"}}> Add Field </button>

<input type="submit" value="Save" {{action "save"}}>