<h3> Property Edit </h3>

<h4> Name </h4>
{{input type="text" value="name"}}

<h4> Description </h4>
{{input type="text" value="description"}}

<h4> Lat </h4>
{{input type="text" value="lat"}}

<h4> Long </h4>
{{input type="text" value="long"}}


<input type="submit" value="Save" {{action "save"}}>