{{view 'page-title'}}

<div class="container list-page index">
	<div class="search-bar">
    <img src='/img/search-icon.png'>
    {{input placeholder='Type address or name'}}	
	</div>
{{#each property in model}}
{{#link-to 'property.show' id}} <!-- make clickable once component -->
  <div class="listpage-listing property" {{bind-attr style=property.styleString}}>
    <div class='listing-main'>
      <span class='name'>{{property.address}}</span>
		</div>

    <div class='listing-footer'>
      <div class="right-listing wait-list">
        <img src='/img/compass-icon.png'>
				{{property.agent}}
				<div class="left-listing distance">
+        {{calculatedDistance}} from here
				</div>
			</div>
			
		</div>
  </div>
  {{/link-to}}
	{{/each}}
</div>

<div class="new-property">
	{{#link-to 'properties.new'}}
		ADD NEW PROPERTY
		<div class="new-property-button">
			<img src="img/new-property-icon.png">
		</div>
	{{/link-to}}
</div>