

{{view 'page-title'}}


<div class="container list-page index">
	<div class="search-bar">
    <img src='img/search-icon.png'>
    {{input placeholder='Whatcha lookin for?'}}	
	</div>
{{#each property in model}}
{{#link-to 'property.show' property.id}} <!-- make clickable once component -->
  <div class="listpage-listing property" {{bind-attr style=property.styleString}}>
    <div class='listing-main'>
      <span class='name'>{{property.address}}</span>

        <div class="property-subheading">
           <span>Toronto, On</span>
           <span> M2L 2G8</span>
        </div>

		</div>



    <div class='listing-footer'>
      <div class="right-listing wait-list">
        <img src='img/compass-icon.png'>
      </div>
			<div class="left-listing distance">
        +	{{calculatedDistance}} from here
			</div>
		</div>
		
  </div>
  {{/link-to}}
	{{/each}}
</div>

<div class="new-property">
	{{#link-to 'properties.new'}}
		ADD NEW PROPERTY
		<div class="new-property-button">
			<img src="img/new-property-icon.png">
		</div>
	{{/link-to}}
</div>