{{#if controllers.application.navVisible}}
  {{#liquid-if controllers.application.navVisible class="nav-visible"}}
      <div class="avatar">
        <img src="img/websitelogo.png">
        <br/>
        Hi {{session.currentUser.first_name}}!

      </div>

  <div class="property">
  	<div class="property-name">
  		{{controllers.application.activeProperty.address}}
  	</div>

  	<div class="property-location">
  		{{controllers.application.activeProperty.location}}
  	</div>
  </div>

	<div class="small-nav-spacer"></div>

      <ul>

        <li class='nav-li'>
          {{#link-to 'properties.index'}}
            <img class='icon' src='img/home3.png'> Home
          {{/link-to}}
        </li>

        {{#if session.isAuthenticated}}
          <li class='nav-li'>
            {{#link-to 'properties.new'}}
              {{!-- Icon needs to be replaced --}}
              <img class='icon' src='/img/plus.png'> New Property
            {{/link-to}}
          </li>
          <li class='nav-li'>
            {{#link-to 'users.user.edit' session.userId }}
              <img class='icon' src='/img/user.png'> Account Settings
            {{/link-to}}
          </li>
          <li class='nav-li'>
            {{#link-to 'users.logout'}}
              <img class='icon' src='/img/signout.png'> Sign Out
            {{/link-to}}
          </li>
        {{else}}
          <li class='nav-li'>
            {{#link-to 'users.register'}}
              <img class='icon' src='img/plus.png'> Register
            {{/link-to}}
          </li>
          <li class='nav-li'>
            {{#link-to 'users.login'}}
              <img class='icon' src='img/user.png'> Sign In
            {{/link-to}}
          </li>
        {{/if}}

        
     </ul>

   <div class="nav-spacer"> </div>


	{{#if controller.controllers.application.activeProperty}}
		{{partial 'nav/admin-navigation'}}
	{{/if}}

	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>

	{{/liquid-if}}
{{/if}}
