{{#if controllers.application.navVisible}}
  {{#liquid-if controllers.application.navVisible class="nav-visible"}}
      <div class="avatar">
        <img src="img/avatar.png">
      </div>

  <div class="property">
  	<div class="property-name">
  		{{controllers.application.activeProperty.address}}
  	</div>

  	<div class="property-location">
  		{{controllers.application.activeProperty.location}}
  	</div>
  </div>

	<div class="small-nav-spacer"></div>

	<ul >
		{{#each item in nav_links}}
		  <li class="nav-li">
		 		{{#link-to item.route}}
		  		<img class="icon" {{bind-attr src=item.icon}}>
		  		{{item.title}}
		  	{{/link-to}}
		  </li>
		{{/each}}
	</ul>

	{{#if controller.controllers.application.activeProperty}}
		{{partial 'nav/admin-navigation'}}
	{{/if}}

	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>

	{{/liquid-if}}
{{/if}}
