{{#if controllers.application.navVisible}}
  {{#liquid-if controllers.application.navVisible class="nav-visible"}}
      <div class="avatar">
        <img src="img/avatar.png">
        {{session.currentUser.email}}
      </div>

  <div class="property">
  	<div class="property-name">
  		{{controllers.application.activeProperty.address}}
  	</div>

  	<div class="property-location">
  		{{controllers.application.activeProperty.location}}
  	</div>
  </div>

	<div class="small-nav-spacer"></div>

      <ul>
        {{#if session.isAuthenticated}}
          <li class='nav-li'>
            {{#link-to 'users.user.edit' session.userId }}
              <img class='icon' src='/img/profile-icon.png'>Account Settings
            {{/link-to}}
          </li>
          <li class='nav-li'>
            {{#link-to 'users.logout'}}
              <img class='icon' src='/img/profile-icon.png'>Sign Out
            {{/link-to}}
          </li>
        {{else}}
          <li class='nav-li'>
            {{#link-to 'users.register'}}
              <img class='icon' src='img/profile-icon.png'>Register
            {{/link-to}}
          </li>
          <li class='nav-li'>
            {{#link-to 'users.login'}}
              <img class='icon' src='img/profile-icon.png'>Sign In
            {{/link-to}}
          </li>
        {{/if}}

        <li class='nav-li'>
          {{#link-to 'properties.index'}}
            <img class='icon' src='img/properties-icon.png'>Properties
          {{/link-to}}
        </li>
     </ul>

   <div class="nav-spacer"> </div>


	{{#if controller.controllers.application.activeProperty}}
		{{partial 'nav/admin-navigation'}}
	{{/if}}

	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>
	<div class="nav-spacer"></div>

	{{/liquid-if}}
{{/if}}
