{{view 'page-title'}}

	<div class="settings">
	

	<!--PHOTOS-->
	{{file-picker model=model}}

	<!--ADDRESS-->
		<div class="setting">
			<div class="setting-title"> 		Address 
			</div>
		
				{{input value=model.address placeholder="What's the address?"}}

	    	<div class="form-validator">
	      {{#if errors.address}}
	        address {{errors.address}}
	      {{/if}}
	   		</div>
		</div>

	<!--POSTAL CODE-->
		<div class="setting">
			<div class="setting-title"> 		Postal Code 
			</div>
		
				{{input value=model.postal_code placeholder="What's the postal code?"}}

	    	<div class="form-validator">
	      {{#if errors.address}}
	        Postal code {{errors.address}}
	      {{/if}}
	   		</div>
		</div>


	<!--NEIGHBOURHOOD/LOCATION-->
		<div class="setting">
			<div class="setting-title"> 
				Neighborhood
			</div>
		
				{{input value=model.location placeholder="Ex. North York"}}

	    	<div class="form-validator">
		      {{#if errors.location}}
		        Neighbourhood {{errors.location}}
		      {{/if}}
	   		</div>
		</div>



		<!-- Either show map view or delete

			<div class="setting">
			<div class="title"> Location </div>
			<div class="setting-value">
				MAP or Text Box?
			</div>
		</div> -->

	<!--PRICE-->
		<div class="setting">
			<div class="setting-title"> 
				Price 
			</div>
				{{input value=model.price placeholder="How much is it?"}}
		

			<div class="form-validator">
		      {{#if errors.price}}
		        price {{errors.price}}
		      {{/if}}
    		</div>
		</div>


	<!--VIEWINGTYPE-->
		<div class="setting">
			<div class="setting-title"> 
				Viewing Type
			</div>
				{{input value=model.price placeholder="INSERT DROPDOWN"}}
		

			<div class="form-validator">
		      {{#if errors.price}}
		        put a dropdown {{errors.price}}
		      {{/if}}
    		</div>
		</div>



	<!--DESCRIPTION-->	
		<div class="setting">
			<div class="setting-title">	
				Description 
			</div>
			<br>
			
			<div class="description">
				{{textarea value=model.description maxlength="500" placeholder="Tell us about the property, in a few sentences."}}
			</div>
			
			<div class="form-validator">
	      {{#if errors.description}}
	        description {{errors.description}}
	      {{/if}}
	    	</div>
		</div>


  {{#each field in model.fields}}
    <div class="setting custom">
    	<div class="setting-key">
      	{{input value=field.name}}
      </div>
      <div class="setting-value">
        {{input value=field.value}}
      </div>
    </div>
  {{/each}}

	
	<div class="preamble">
		<!--shouldn't have to add new attributes, should be a list-->
		<div class="title small">
			Add new attribute
			<span class="sub-text"> e.g. Bedrooms: 2</span>
		</div>
		<div class="new-att-icon">
			<a {{action "newField"}}> <img src="img/new-att-icon.png"></a>
		</div>
	</div>

	<div class="setting custom">
		<div class="setting-key">
			{{input value=newFieldName placeholder="e.g. \"Takes Debit\""}}
	</div>

    <div class="setting-value new-field-setting">
      {{input value=newFieldValue placeholder="e.g. \"Yes\""}}
    </div>
  </div>

  	<div class="form-validator">
		both fields need to be filled out to be added
	  </div>


 <div class="mid-page-title">
  Edit Highlights
  </div>

	<div class="setting">
		<div class="setting-title"> 		
			<img src="img/new-att-icon.png">
			<div class="hi-title">
				Add a highlight
			</div>
		</div>
	</div>

	<div class="setting">
		<div class="setting-title"> 		
			<img src="img/edit-icon.png">
			<div class="hi-title">
				SEX SWING
			</div>
		</div>
	</div>

	<div class="save-container">
		<button class="button" {{action "save"}}> Save </button>
	</div>
</div>