<div class="property-hero">
 
  <div class="price">
    {{format-money model.price precision=0}}
  </div>
    <div class="property-contact">
      <span class="detail left">
        {{#view 'tel-link'}}
          {{model.phone}}
        {{/view}}
      </span>

      <span class="detail right">
        <a class="external" target="_blank" href="{{unbound model.website}}">Visit website</a>
      </span>
    </div>

      <div class="property-description">
          {{model.description}}

          <div class="property-desc">
            {{#each field in model.fields}}
              <div class="property-detail">
                <span class="left"> {{field.name}} </span>
                <span class="right"> {{field.value}} </span>
              </div>
            {{/each}}
          </div>
        </div>

  </div>
