
  <div class="property-profile" style={{model.style}}>

    
    <img {{action "back" target="controllers.application"}} src="img/back-icon.png" class="back-icon">
    <div class="property-hero-title">
      <span>
        {{#link-to 'properties.property.index' model.id classNames="name"}}{{model.address}}{{/link-to}}
      </span>

        <div class="property-subheading">
           <span>Toronto, On</span>
           <span> M2L 2G8</span>
        </div>
    </div>

   

  </div>

  {{partial 'properties/property/hero-header'}}

  
  <div class="down-icon-cont">
  {{#link-to 'properties.property.details' model.id}}
    <img src="img/down-icon.png">
  {{/link-to}}
  </div>


  <div class="agent-info">
    <p class="section-title"> Agent Info </p>
    <img src="img/arigold.jpeg">
    <p class="agent-name"> Ari Gold</p>
    <p class="brokerage"> Harvey Kalles </p>
    <p class="agent-phone"> (416) 464-4322 </p>

    <div class="vertical-divider"></div>

    <div class="openhouse-time"> Openhouse <br/> 12pm - 5pm </div>
  </div>


  <div class="property-show">

    <div class="property-apps">

      {{#each highlight in model.highlights}}
        {{partial 'properties/property/highlights/highlight/inline'}}
      {{/each}}

        <div class="app-card">
        <img src="img/comment-icon.png" class="app-icon">
          leave a note
      </div>
      
    </div>

  </div>
