
  <div class="property-profile" style={{model.style}}>

    <img {{action "back" target="controllers.application"}} src="img/back-icon.png" class="back-icon">
    
    <div class="property-hero-title">
      <span>
        {{#link-to 'properties.property.index' model.id classNames="name"}}{{model.address}}{{/link-to}}
      </span>

        <div class="property-subheading">
           <span>Toronto, On</span>
           <span> M2L 2G8</span>
        </div>
    </div>

  </div>

  {{partial 'properties/property/hero-header'}}

  <div class="down-icon-cont">
  {{#link-to 'properties.property.details' model.id}}
    <img src="img/down-icon.png">
  {{/link-to}}
  </div>

  <div class="agent-info">
    <p class="section-title"> {{model.user.email}} </p>
    <img src="img/arigold.jpeg">
    <p class="agent-name"> {{model.user.name}} </p>
    <p class="brokerage"> {{model.user.brokerage}} </p>
    <p class="agent-phone"> 
      {{#view "tel-link"}}
        {{model.user.phone}}
      {{/view}} 
    </p>
    <div class="vertical-divider"></div>

    {{!-- <div class="openhouse-time"> Openhouse 
      <br/> 12pm - 5pm 
    </div> --}}
  </div>


  <div class="property-show">

    <div class="property-apps">

      {{#each highlight in model.highlights}}
        {{partial 'properties/property/highlights/highlight/inline'}}
      {{/each}}

      <div class="app-card" {{action "toggleModal"}}>
        Open Modal
      </div>

      
      {{#if isShowingModal}}
        {{#modal-dialog close="toggleModal" translucentOverlay=true alignmentTarget='#content-target'
        attachment='middle center'
        targetAttachment='middle center'
        }}

        <div class="highlight-image">
          <img src='img/property-profile-1.jpg'>
        </div>

        <div class="highlight-heading-modal"> 
            Beautiful Backyard 
        </div>

        <div class="highlight-description">
        Your backyard is your private retreat. Screened patios extend your season outdoors and transition to patios. Plantings of hydrangeas echo the blues in the seating area and white of this Forest Hill Home. Enhance it by adding touches that make it special: a water feature, comfy seating, lovely plant beds, even just a hammock. 
        </div>
      
        {{/modal-dialog}}
      {{/if}}
     

    </div>

  </div>


