<div class="header">
	<img src="img/nav-icon.png" class="nav-icon" {{action 'toggleNav'}}>
</div>

	<div {{bind-attr class="controller.navVisible:left :container"}}>

  {{render 'navigation'}}

	<div class="content">
		{{render 'content-overlay' controller="application"}}
  	{{liquid-outlet}}
  </div>

</div>