<div class="setting">
	{{#if view.isEditing}}
		{{view Ember.TextField value=content}}
		<div class="menu-item-right editable-icon">
			<img src="finished-edit-icon.png" {{action "finishEdit" target="view"}}>
		</div>
	{{else}}
		{{view Ember.TextField value=content}}
		<div class="menu-item-right editable-icon">
			<img src="edit-icon.png" {{action "edit" target="view"}}>
		</div>
	{{/if}}
</div>