<div class="setting">
	{{#if view.isEditing}}
		{{input value=content}}
		<div class="menu-item-right editable-icon">
			<img src="img/finished-edit-icon.png" {{action "finishEdit" target="view"}}>
		</div>
	{{else}}
		{{input value=content}}
		<div class="menu-item-right editable-icon">
			<img src="img/edit-icon.png" {{action "edit" target="view"}}>
		</div>
	{{/if}}
</div>